.app__body{
    display: flex;
    background-color: rgba(211, 211, 211, 0.486);
    /* height: 93vh; */
    justify-content: center;
    
}



body::-webkit-scrollbar {
     overflow: hidden;         /* width of the entire scrollbar */
  }
