.sidebarRow{
    display:flex;
    flex-direction: row;
    align-items: center;
    cursor:pointer;
    padding:10px;
}

.sidebarRow:hover{
    background-color: lightgray;
    border-radius: 10px;
}

.sidebarRow > h4 {
    margin-left: 20px;
}

.sidebarRow > .MuiSvgIcon-root {
    font-size:xx-large;
    color: #2e81f4
}