.widget{
    height: 93vh;
    position:fixed;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    right:0;
    /* overflow-y: auto; */
}

.iframe{
    margin-bottom: 10px;
    margin-top:20px;
}

.widget > .iframe:hover{
    overflow-y: auto;
    cursor: pointer;
}


