.widget{
    height: 93vh;
    position:fixed;
    right:0;
    /* overflow-y: auto; */
}

.widget > iframe {
    /* height:100%; */
    

    
}

.widget > .iframe:hover{
    overflow-y: auto;
    cursor: pointer;
}


